

{% extends 'layout.html' %}
<!--{% from 'macros.html' import icon %}-->
{% block content %}


    <div class="row">
        
     
        <div class="medium-3 columns">
    <h3 class="lead" >Category</h3> 
            <div id ="rounded">
<table id ="category-table" class="table" style="table-layout:fixed">
            
                {% for category in categories %}
    <tr>
<td style="width:50%"><a href="{{ url_for('list_todos',  name=category.name) }}">
    {{category.name}}</a></td>
        <td>
         <a class="success button" href="{{ url_for('edit_category', category_id=category.id)}}">Edit</a>
            <form action="{{url_for('delete_category', category_id=category_id)}}" method="post">
            
            <input type="submit" value="Delete"><a class="alert button"></a>
                    
            </form>
        </td>

</tr>
    {% end for %}
                </table>

</div>
        
        
        </div>
        <div class="medium-9 columns">
            {% if todos|count > 0 %}
        
        <h3 class="title"></h3>
            <table id="todo-table" class="table">
            <tr>
                
                <th>#</th>  
                <th>Description</th>  
                <th>Category</th>  
               {#<th>Priority</th>
                #}
                <th>Creation date</th>
                <th>Actions</th>    
                </tr>
                {% for todo in todos%}
                <tr{% if todo.is_done %} class="success" {% endif %}>
                <td>
{{ loop.index }}

</td><td>  {% if todo.is_done %} style ="text-decoration:line-through"{% endif %>{{ todo.description}}</td>
                    <td>{{ todo.category.name }}</td>   
                  {#<td>{{ todo.priority.name }}</td>#}  
                    <td>{{ todo.creation_date }}</td> 
                    <td>
             
                     <a class="success button"{% if todo.is_done %}disabled{% endif %} href="{{ url_for ('update_todo', todo_id=todo.id) }}">{{ icon('edit') }} Edit</a>
                        <form id ="delform" action="{{ url_for ('delete_todo', todo_id=todo.id )}}" method="post">
                        
                           
           {#<input class ="alert button" type="submit" name="delete_todo" value="Delete">#}
                            <a onclick="$'(#delform'),submit()" class ="alert button" id="delete_todo" href="#">{{ icon('trash') }} Delete</a>
                        </form>
                        <form action="{{ url_for('mark_done',todo_id=todo_id)}}" method="post">
                        
                        <input class="warning button" type="submit" name="mark_done" value="Done" {% if todo.is_done %} disabled{% endif %}>#}
                            <a onclick="$('#isdone').submit()" class="warning button" id="mark_done"{% if todo.is_done %} disabled{% endif %}>{{ icon('check') }} Done</a>
                        </form>
                       
                
                    </td>
                
                </tr>
                {% endfor %}
            </table>
            
        {% else %}
            <h3 class="lead">No Todos Yet </h3>
        
            {% end if %}
        </div>
    </div>

{% endblock %}
    
      
 

