{% extends 'layout.html' %}
{% from 'macros.html' import icon %} 
{% block content %}
<div class="row">
    <div class="medium-4 columns">

        <h3>Category</h3>
        <table id="category-table" class="table">
            {%- for category in categories %}
            <tr>
                <td>

                  <a href="{{ url_for('list_todos', name=category.name) }}">{{ category.name }}</a>
            </td>
             <td>
                
                             <a class="button success" href="{{ url_for('edit_category', category_id=category.id) }}">{{ icon('edit') }} Edit</a>
                        </td>
                         <form id="catdel-{{ category.name }}" action="{{ url_for('delete_category', category_id=category.id) }}" method="post">

                           
                                <a class="button alert" onclick="$('#catdel-{{ category.name }}').submit();">{{ icon('trash') }} Delete</a>
                            </form>
</td>
            </tr>
            {% endfor %}
        </table>
    </div>
        <div class="medium-8 columns">
            {% if todos|count > 0 %}
            <h3 class="lead">My TODOs</h3>
            <table id ="todo-table" class="todo">

                <tr>
                    <th>#</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Priority</th>
                    <th>Creation date</th>
                </tr>
                {%- for todo in todos %}
                  <tr {% if todo.is_done %}class="success"{% endif %}>
                    <td>{{ loop.index }} </td>
                     <td {% if todo.is_done %}style="text-decoration:line-through"{% endif %}>{{ todo.description }}</td>
                    <td>{{ todo.category.name }}</td>
                    <td>{{ todo.priority.name }}</td>
                    <td>{{ todo.creation_date }}</td>
                    <td>
                          <a class="button success{% if todo.is_done %} disabled{% endif %}"  href="{{ url_for('update_todo', todo_id=todo.id) }}" >{{ icon('edit') }} Edit</a>
                            <form id=delform action="{{ url_for('delete_todo', todo_id=todo.id) }}" method="post">
                                {#<input class="button alert" type="submit" name="delete_todo" value="Delete">#}
                                <a onclick="$('#delform').submit();" class="button alert"id="delete_todo" href="#">{{ icon('trash') }} Delete</a>
                            </form>
                            <form id=isdone action="{{ url_for('mark_done', todo_id=todo.id) }}" method="post">
                                {#<input class="btn btn-xs btn-default" type="submit" name="mark_done" value="Done"{% if todo.is_done %} disabled{% endif %}>#}
                                <a onclick="$('#isdone').submit()" class="button" id="mark_done"{% if todo.is_done %} disabled{% endif %}>{{ icon('check') }} Done</a>
                            </form>
                        </td>
                </tr>
                {%- endfor %}
            </table>
{% else %}
            <h3 class=lead>No Todos Yet</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
