<!doctype html>

<!--
{% extends 'layout.html' %}
{% block content %}
-->
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
        <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
      <link rel="stylesheet" href="/static/css/foundation.min.css">
      <script src="/static/js/foundation.min.js"></script>
      <script src="/static/js/app.js"></script>
   <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        })
    </script>
  </head>
  <body>
    <div class="row">
        
     
        <div class="medium-3 columns">
    <h3 class="title" >Category</h3> 
            <div id ="rounded">
<table id ="category-table" class="table" style="table-layout:fixed">
            
                {% for category in categories %}
    <tr>
<td style="width:50%"><a href="{{ url_for('list_todos',  name=category.name) }}">
    {{category.name}}</a></td>
        <td>
         <a class="success button" href="{{ url_for('edit_category', category_id=category.id)}}">Edit</a>
            <form action="{{url_for('delete_category', category_id=category_id)}}" method="post">
            
            <input type="submit" value="Delete"><a class="alert button"></a>
                    
            </form>
        </td>

</tr>
    {% end for %}
                </table>

</div>
        
        
        </div>
        <div class="medium-9 columns">
        
        <h3 class="title"></h3>
            <table id="todo-table" class="table">
            <tr>
                
                <th>#</th>  
                <th>Description</th>  
                <th>Category</th>  
                <th>Priority</th>  
                <th>Creation date</th>
                <th></th>    
                </tr>
                {% for todo in todos%}
                <tr class={{"success" if todo.is_done }}>
                <td>
{{ loop.index }}

</td><td>{{ todo.category.name }}</td>   
                    <td>{{ todo.priority.name }}</td>   <td>{{ todo.creation.name }}</td> 
                    <td>
                {% if todo.is_done %}
                     <a class="success button" href="{{ url_for ('update_todo', todo_id=todo.id) }}">Edit</a>
                        <form action="{{ url_for ('delete_todo', todo_id=todo.id )}}" method="post">
                        
                           
            <input type="submit" name="delete_todo" value="Delete"><a class="alert button"></a>
                        </form>
                        <form action="{{ url_for('mark_done',todo_id=todo_id)}}" method="post">
                        
                        <input class="warning button" type="submit" name="mark_done" value="Done">
                        </form>
                        {% endif %}
                
                    </td>
                
                </tr>
                {% endfor %}
            </table>
            
        
        
        </div>
    </div>

{% endblock %}
    
      
 
      

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
